@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --background-color: #2A2A2C;
  --t-color: #DAD7E3;
  --font-family: 'IBM Plex Sans', 'IBM Plex Mono', sans-serif;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--t-color);
}
